.w-25 {width: 25%;}
.w-50 {width: 50%;}
.w-75 {width: 75%;}
.w-100 {width: 100%;}
.h-25 {height: 25%;}
.h-50 {height: 50%;}
.h-75 {height: 75%;}
.h-100 {height: 100%;}
.mh-100 {max-height: 100%}
.mw-100 {max-width: 100%}
.vw-100 {width: 100vw;}
.vh-100 {height: 100vh;}

.mt4 {margin-top: 4px;}
.mt5 {margin-top: 5px;}
.mt8 {margin-top: 8px;}
.mt10 {margin-top: 10px;}
.mt12 {margin-top: 12px;}
.mt15 {margin-top: 15px;}
.mt16 {margin-top: 16px;}
.mt20 {margin-top: 20px;}
.mt24 {margin-top: 24px;}
.mb4 {margin-bottom: 4px;}
.mb5 {margin-bottom: 5px;}
.mb8 {margin-bottom: 8px;}
.mb10 {margin-bottom: 10px;}
.mb12 {margin-bottom: 12px;}
.mb15 {margin-bottom: 15px;}
.mb16 {margin-bottom: 16px;}
.mb20 {margin-bottom: 20px;}
.mb24 {margin-bottom: 24px;}
.mr4 {margin-right: 4px;}
.mr5 {margin-right: 5px;}
.mr8 {margin-right: 8px;}
.mr10 {margin-right: 10px;}
.mr12 {margin-right: 12px;}
.mr15 {margin-right: 15px;}
.mr16 {margin-right: 16px;}
.mr20 {margin-right: 20px;}
.mr24 {margin-right: 24px;}
.ml4 {margin-left: 4px;}
.ml5 {margin-left: 5px;}
.ml8 {margin-left: 8px;}
.ml10 {margin-left: 10px;}
.ml12 {margin-left: 12px;}
.ml15 {margin-left: 15px;}
.ml16 {margin-left: 16px;}
.ml20 {margin-left: 20px;}
.ml24 {margin-left: 24px;}

.pt4 {padding-top: 4px;}
.pt5 {padding-top: 5px;}
.pt8 {padding-top: 8px;}
.pt10 {padding-top: 10px;}
.pt12 {padding-top: 12px;}
.pt15 {padding-top: 15px;}
.pt16 {padding-top: 16px;}
.pt20 {padding-top: 20px;}
.pt24 {padding-top: 24px;}
.pb4 {padding-bottom: 4px;}
.pb5 {padding-bottom: 5px;}
.pb8 {padding-bottom: 8px;}
.pb10 {padding-bottom: 10px;}
.pb12 {padding-bottom: 12px;}
.pb15 {padding-bottom: 15px;}
.pb16 {padding-bottom: 16px;}
.pb20 {padding-bottom: 20px;}
.pb24 {padding-bottom: 24px;}
.flex-display {display: flex;}
.d-none {display: none;}
.d-block {display: block;}
@include mq-min(md){ //PC向け
  .d-pc-block {
    display: block !important;
  }
  .d-pc-none {
    display: none !important;
  }
}