@import './variables';

body {
  background-color: $primary-color;
}
.wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 50px 1fr 50px;
  @media screen and (max-width: 480px) {
    display: block;
  }
}
.container {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 480px) {
    display: block;
  }
}